@model PagedList.IPagedList<WebAppTilausDB.Models.Tilaukset>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Tilaukset";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Toimitusosoite
        </th>
        <th>
            Tilauspvm
        </th>
        <th>
            Toimituspvm
        </th>
        <th>
            @Html.ActionLink("Nimi", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Postitoimipaikka
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toimitusosoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tilauspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toimituspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TilausID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TilausID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TilausID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { sortOrder = ViewBag.CurrentSort, page }))
