@model IEnumerable<WebAppTilausDB.Models.Tuotteet>
@{
    ViewBag.Title = "Tuotteet";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showProductId").click(function () {
                var productId = $(this).data("productid");
                alert(productId);
            });
        });

        $(function () {
            $("#poistaTuote").click(function () {
                var productId = $(this).data("productid");
                alert(productId);
            });
        });

    </script>
}

<h2>Index</h2>
<h4>Tuotteita @Model.Count() kappaletta</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Tuote ID</th>
            <th>Tuotteen nimi</th>
            <th>A-Hinta</th>
            <th>Tuotteen Kuva</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (WebAppTilausDB.Models.Tuotteet prod in Model)
        {
            <tr>
                <td class="showProductId" data-ProductID="@prod.TuoteID">@prod.TuoteID</td>
                <td>@prod.Nimi</td>
                <td>@prod.Ahinta</td>
                @*@<td>@prod.Tilausrivit</td>*@
                <td>@prod.Kuva</td>
                <td><button class="btn btn-success" onclick='naytaValittuTuote("@prod.Nimi")'>Muokkaa</button></td>
                <td><button class="btn btn-primary showProductId" data-ProductID="@prod.TuoteID">Muokkaa</button></td>
                <td><button class="btn btn-danger" data-ProductID="@prod.TuoteID" id="poistaTuote">Poista</button></td>
            </tr>
        }

    </tbody>
</table>
<script>
    function naytaValittuTuote(tuoteID) {
        alert(tuoteID);
    }
</script>






